@media  (max-width:1440px) {
    .general .main .nav .left_content ul{
        gap: 30px;
    }
    .general .main .nav .left_content ul a li{
        font-size: 12px;
    }
    .btn-type2{
        font-size: 12px;
    }
    .btn-type1{
        font-size: 12px;
    }
    .app_img{
        animation: transform_app_img-1440 2s ease forwards !important;
    }
    .rectangle_place{
        animation: transform_rect-1440 2s ease forwards !important;
    }
    .basket_img{
        animation: transform_basket-1440 3s ease forwards !important;
    }
    .about {
        padding: 100px 0;
        .about_wrapper .left_block .top_block h2{
            font-size: 40px;
        }
        h2{
            font-size: 32px;
        }
    }
    .whyNadis .whyNadis_wrapper {
        padding: 40px 50px;
        h2{
            font-size: 54px;
        }
        .why_description{
            margin-bottom: 30px;
        }
        .why_cards{
            gap: 20px;
            .card {
                min-height: 320px;
                .card_description {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.4;
                }
            }
        }
    }
    .forWhom .compamies_wrapper, .forWhom .users_wrapper {
        padding: 50px;
        .left_block, .right_block{
            .title{
                font-size: 54px;
            }
            .description{
                font-size: 18px;
            }
            img{
                width: 400px;
            }
        } 
    }
    .forWhom .association_wrapper{
        .title{
            font-size: 54px;
            line-height: 1;
        }
        .wrapper{
            .left_block{
                .description{
                    font-size: 18px;
                    margin: 5px 0 10px;
                }
                .description2{
                    font-size: 18px;
                }
            }
            .right_block{
                img{
                    width: 400px;
                }
            }
        }
        img{
            width: 400px;
        }
    }
    .bonus{
        .title{
            font-size: 54px;
        }
        .subtitle{
            font-size: 24px;
        }
        .wrapper{
            .left_block{
                img{
                    width: 500px;
                }
            }
            .right_block{
                .description{
                    font-size: 18px;
                }
                .description2{
                    font-size: 18px;
                }
            }
        }
    }
    .faq{
        .title{
            font-size: 54px;
        }
        .informAccordion{
           .informItem .informName{
                font-size: 28px;
            }
            .disclosure span{
                font-size: 18px;
            }
        }
    }
    .footer{
        .wrapper{

            .left_block{
                .age{
                    font-size: 18px;
                }
                .politic{
                    font-size: 18px;
                }
            }
            .center_block{
                ul{
                    a{
                        
                        li{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .social{
            gap: 30px;
            svg{
                width: 36px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .whyNadis .whyNadis_wrapper{
        .why_cards{
            gap: 20px;
            .card {
                min-height: 340px;
            }
        }
    }
}
@media (max-width: 1100px) {
    .btn-type1{
        padding: 10px 30px;
    }
    .general{
        .main{
            .nav{
                .left_content{
                    ul{
                        display: none;
                    }
                }
                .btn-type2{
                    display: none;
                }
            }
        }
        .general_block{
            .general_wrapper{
                .left_block{
                    .top_block{
                        h1{
                            font-size: 80px;
                        }
                        .subtitle{
                            font-size: 16px;
                        }
                        .description{
                            width: 100%;
                            font-size: 16px;
                        }
                    }
                }
                .right_block{
                    .app_img{
                        animation: transform_app_img-768 2s ease forwards !important;
                    }
                    .rectangle_place{
                        animation: transform_rect-768 2s ease forwards !important;
                    }
                    .basket_img{
                        animation: transform_basket-768 3s ease forwards !important;
                    }
                }
            }
        }
    }
    .about{
        .about_wrapper{
            .left_block{
                .top_block{
                    .subtitleAbout{
                        span{
                            font-size: 12px;
                        }
                    }
                    h2{
                        font-size: 24px;
                    }
                }
            }
            .right_block{
                .about_description{
                    font-size: 14px;
                }
            }
        }
    }
    .whyNadis {
        .whyNadis_wrapper{
            padding: 40px 20px;
            h2{
                font-size: 32px;
            }
            .why_description{
                padding: 0;
                font-size: 14px;
            }
            .why_cards{
                flex-direction: column;
                .card{
                    min-height: auto;
                    .card_icon{
                        margin: 0 auto;
                    }
                    .card_title{
                        text-align: center;
                        margin: 10px 0 5px;
                    }
                    .card_description{
                        text-align: center;
                    }
                }
            }
        }
    }
    .forWhom{
        .compamies_wrapper{
            padding: 0;
            margin-bottom: 20px;
            .right_block{
                img{
                    width: 300px;
                }
            }
            .left_block{
                .title{
                    font-size: 32px;
                }
                .description{
                    font-size: 14px;
                }
            }
        }
        .users_wrapper{
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            .left_block{
                img{
                    width: 300px;
                    margin: 20px 0;
                }
            }
            .right_block{
                .title{
                    font-size: 32px;
                }
                .description{
                    font-size: 14px;
                }
            }
        }
        .association_wrapper{
            padding: 0;
            margin-top: 20px;
            .title{
                font-size: 32px;
            }
            .wrapper{
                .right_block{
                    img{
                        width: 350px;
                    }
                }
                .left_block{
                    .title{
                        font-size: 32px;
                    }
                    .description, .description2{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .bonus{
        .title{
            font-size: 32px;
        }
        .subtitle{
            font-size: 24px;
            font-weight: 300;
        }
        .wrapper{
            flex-direction: column;
            .left_block{
                img{
                    width: 50%;
                    margin: 0 auto !important;
                    margin: 20px 0;
                }
            }
            .right_block{
                .title{
                    font-size: 32px;
                    text-align: center;
                }
                .description, .description2{
                    text-align: center;
                    font-size: 14px;
                }
                .btn-type1{
                    margin: 0 auto;
                }
            }
        }
    }
    .faq{
        padding: 50px 0;
        .title{
            font-size: 32px;
        }
        .informAccordion{
            padding: 25px 20px;
            .informItem{
                .informAtr{
                    .informName {
                        font-size: 20px;
                        margin-right: 20px;
                    }
                }
            }
            .disclosure{
                span{
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
    
}
@media (max-width:768px) {
    .about .about_wrapper .left_block .top_block h2{
        font-size: 32px;
    }
    .about .about_wrapper .right_block .about_description{
        font-size: 20px;
    }
    .about .about_wrapper .left_block .top_block .subtitleAbout hr{
        width: 20px;
    }
    .about .about_wrapper .left_block .top_block .subtitleAbout span{
        font-size: 14px;
    }
    .general{
        height: auto;
        .general_block{
            .general_wrapper{
                flex-direction: column;
                height: auto;
                .right_block{
                    .app_img{
                        animation: none !important;
                        box-shadow: none;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .rectangle_place, .basket_img{
                        display: none;
                    }
                }
                .left_block{
                    .top_block{
                        h1{
                            font-size: 96px;
                        }
                        .subtitle{
                            font-size: 20px;
                        }
                        .description{
                            width: 100%;
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        .btn-type1{
                            margin-top: 30px;
                        }
                    }
                    .market{
                        margin-top: 20px;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    .about{
        padding: 40px 0;
        .about_wrapper{
            flex-direction: column;
            .left_block{
                .top_block {
                    .subtitleAbout {
                        hr{
                            width: 50px;
                        }
                    }
                    h2{
                        font-size: 28px;
                    }
                }
            }
            .right_block{
                padding: 0;
                margin-top: 20px;
            }
        }
    }
    .whyNadis {
        .whyNadis_wrapper{
            padding: 40px 20px;
            h2{
                font-size: 32px;
            }
            .why_description{
                padding: 0;
                font-size: 14px;
            }
            .why_cards{
                flex-direction: column;
                .card{
                    min-height: auto;
                    .card_icon{
                        margin: 0 auto;
                    }
                    .card_title{
                        text-align: center;
                        margin: 10px 0 5px;
                    }
                    .card_description{
                        text-align: center;
                    }
                }
            }
        }
    }
    .forWhom{
        .compamies_wrapper{
            flex-direction: column-reverse;
            padding: 0;
            margin-bottom: 20px;
            .right_block{
                img{
                    width: 100%;
                }
            }
            .left_block{
                .title{
                    font-size: 32px;
                    text-align: center;
                }
                .description{
                    text-align: center;
                }
            }
            .btn-type1{
                margin: 0 auto;
            }
        }
        .users_wrapper{
            flex-direction: column;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            .left_block{
                img{
                    width: 100%;
                    margin: 20px 0;
                }
            }
            .right_block{
                .title{
                    font-size: 32px;
                    text-align: center;
                }
                .description{
                    text-align: center;
                }
            }
            .btn-type1{
                margin: 0 auto;
            }
        }
        .association_wrapper{
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            .title{
                font-size: 32px;
            }
            .wrapper{
                flex-direction: column-reverse;
                .right_block{
                    img{
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
                .left_block{
                    .title{
                        font-size: 32px;
                        text-align: center;
                    }
                    .description, .description2{
                        text-align: center;
                    }
                }
                .btn-type1{
                    margin: 0 auto;
                }
            }
        }
    }
    .bonus{
        .title{
            font-size: 32px;
        }
        .subtitle{
            font-size: 24px;
            font-weight: 300;
        }
        .wrapper{
            flex-direction: column;
            .left_block{
                img{
                    width: 100%;
                    margin: 20px 0;
                }
            }
            .right_block{
                .title{
                    font-size: 32px;
                    text-align: center;
                }
                .description, .description2{
                    text-align: center;
                }
                .btn-type1{
                    margin: 0 auto;
                }
            }
        }
    }
    .faq{
        padding: 0;
        .title{
            font-size: 32px;
        }
        .informAccordion{
            padding: 25px 20px;
            .informItem{
                .informAtr{
                    .informName {
                        font-size: 20px;
                        margin-right: 20px;
                    }
                }
            }
            .disclosure{
                span{
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
    .footer{
        .wrapper{
            flex-direction: column;
            .left_block{
                .logo{
                    justify-content: center;
                }
                .age{
                    text-align: center;
                    margin: 10px 0;
                }
                .politic{
                    text-align: center;
                }
            }
            .center_block{
                margin: 40px 0;
                display: flex;
                flex-direction: column;
                ul{
                    li{
                        text-align: center;
                        font-size: 18px;
                    }
                }
                .btn-type2{
                    margin: 0 auto;
                }
            }
            .right_block{
                display: flex;
                flex-direction:row;
                justify-content: center;
            }
        }
    }
}

@keyframes transform_app_img-1440 {
    0%{
        transform: scaley(0.8) scalex(0.8) rotate(0deg) translate(700px, -50px);
    }
    40%{
        transform:  scaley(0.8) scalex(0.8) rotate(0deg) translate(100px, -50px);
    }
    100%{
        transform: skew(340deg, 4deg) scaley(0.6) scalex(0.8) rotate(16deg) translate(50px, -80px);
        
    }
}
@keyframes transform_rect-1440 {
    0%{
        transform: skew(340deg, 4deg) scaley(0) scalex(0) rotate(16deg) translate(-150px, -80px);
    }
    80%{
        transform: skew(340deg, 4deg) scaley(0) scalex(0) rotate(16deg) translate(-150px, -80px);
    }
    100%{
        transform: skew(340deg, 4deg) scaley(0.6) scalex(0.8) rotate(16deg) translate(-150px, -80px);
        
    }
}
@keyframes transform_basket-1440{
    70%{
        transform: translate(-25px, -110px) scale(0);
    }
    100%{
        transform: translate(-25px, -110px) scale(0.8);
        
    }
}

@keyframes transform_app_img-768 {
    0%{
        transform: scaley(0.8) scalex(0.8) rotate(0deg) translate(700px, -80px);
    }
    40%{
        transform:  scaley(0.8) scalex(0.8) rotate(0deg) translate(0px, -80px);
    }
    100%{
        transform: skew(340deg, 4deg) scaley(0.4) scalex(0.6) rotate(16deg) translate(-100px, -80px);
        
    }
}
@keyframes transform_rect-768 {
    0%{
        transform: skew(340deg, 4deg) scaley(0) scalex(0) rotate(16deg) translate(-290px, -80px);
    }
    80%{
        transform: skew(340deg, 4deg) scaley(0) scalex(0) rotate(16deg) translate(-290px, -80px);
    }
    100%{
        transform: skew(340deg, 4deg) scaley(0.4) scalex(0.6) rotate(16deg) translate(-290px, -80px);
        
    }
}
@keyframes transform_basket-768{
    70%{
        transform: translate(-80px, -100px) scale(0);
    }
    100%{
        transform: translate(-80px, -100px) scale(0.6);
        
    }
}